{
  frankenphp
  # admin off
}

:8081 {
  root * public/
  encode zstd gzip

  php_server {
    try_files {path} index.php
  }

  # Proxy WebSocket Reverb
  handle_path /app* {
    reverse_proxy 127.0.0.1:8080
  }

  file_server
}
